

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}
.wrapper .social_media ul li{
    width: 55px;
    height: 40px;
    background: linear-gradient(to right,#d06d0a,#cc4040);
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    margin-left: 20px;

}

.wrapper .social_media ul li a{
    color :rgb(170, 196, 201);
    display: block;
    font-size: 25px;
}

.shp-logo-img{
    width: 70px;
}
.shp-language-img {
    width: 20px;
    height: 20px;
}
.language-container {
    color: rgb(176, 174, 174);
}

#shp .icon-container {
    width: 20px;
    height: 20px;
    color: #ff9900;
    }
    
    .sell-link {
        color: #ff9900;
        text-decoration: none;
        font-weight: 600;
    }
    
    .sell-link:hover {
        text-decoration: underline;
        color: #ff9900;
    }

    /* styling header */

header {
    z-index: 1000;
    }
    
    header .logo {
        width: 100%;
    }
    
    .search-btn {
        background-color: #f49301;
        color: white;
        transition: all 1s;
    }
    
    .search-btn:hover {
        background-color: #d07d02;
        color: white;
    }
    
    header .form-control:focus {
        box-shadow: none;
    }
    
    .hover-items {
        color: black;
    }
    .hover-items:hover {
        color: #f49301;
    }
    .hover-nav-items:focus {
        color: #f49301;
    }