/* common styling */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

body {
  max-width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
}

/* banner styling */

#banner {
  background-color: #ff9900;
}

/* jm-links styling */
#shp {
  font-size: 14px;
  background: #f5f5f5;
}

#shp .icon-container {
  width: 20px;
  height: 20px;
  color: #ff9900;
}

.sell-link {
  color: #ff9900;
  text-decoration: none;
  font-weight: 600;
}

.sell-link:hover {
  text-decoration: underline;
  color: #ff9900;
}

.shp-logo-img {
  width: 70px;
}

.shp-language-img {
  width: 20px;
  height: 20px;
}

.language-container {
  color: rgb(176, 174, 174);
}

/* header styling */

header {
  z-index: 1000;
}

header .logo {
  width: 100%;
}

.search-btn {
  background-color: #f49301;
  color: white;
  transition: all 1s;
}

.search-btn:hover {
  background-color: #d07d02;
  color: white;
}

header .form-control:focus {
  box-shadow: none;
}

.hover-items {
  color: black;
}
.hover-items:hover {
  color: #f49301;
}
.hover-nav-items:focus {
  color: #f49301;
}

/* styling popover */
.popover-icon {
  font-size: 24px;
  position: relative;
}

.popover-body {
  width: 500px;
  z-index: 1001;
  position: absolute;
  top: 60px;
  left: 0px;
  font-size: 16px;
}

.popover-content li:hover {
  color: #f49301;
  cursor: pointer;
}

.popover-content {
  background-color: white;
  position: absolute;
  box-shadow: 0px 0px 10px rgb(164, 163, 163);
}

.popover-content::before {
  content: "";
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent white transparent;
  position: absolute;
  top: -15px;
  left: 0;
}

/* Category - column */

.hover-categories > li:hover {
  background-color: rgb(215, 220, 215);
}
.apply-btn {
  color: #ff9900;
}

.apply-btn:hover {
  color: #ff9900;
  background-color: #f7e2e2;
}

/* products - column */

.add-cart-btn {
  width: 100%;
  background-color: #f49301;
  color: white;
  transition: all 1s;
  font-size: 14px;
  font-weight: 600;
}

.add-cart-btn:hover {
  background-color: #d07d02;
  color: white;
}

.line-truncate {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}